In [1]:
import pandas as pd
from pathlib import Path
import csv
import os
import statistics
import datetime
import numpy as np

In [5]:
budget_data_path = Path('../Resources/budget_data.csv')

df = pd.read_csv("budget_data.csv")

In [7]:
# Read in data
budget_data = pd.read_csv(budget_data_path, parse_dates=True, infer_datetime_format=True)

#budget_data

pd.set_option("display.max_rows", None, "display.max_columns", None)

budget_data

                                  Financial Analysis
0                              ---------------------
1                                   Total Months: 86
2                           Total Revenue: $38382578
3                      Average Revenue Change $27521
4  Greatest Increase in Revenue:  ($27521.1395348...
5  Greatest Decrease in Revenue:  ($27521.1395348...

In [4]:
#check column names
budget_data.columns

Index(['Date', 'Profit/Losses'], dtype='object')

In [46]:
#Change column names 

budget_data = budget_data.rename(columns={
    "Date": "months",
    "Profit/Losses": "revenue"
})

budget_data.head()

     months  revenue
0  Jan-2010   867884
1  Feb-2010   984655
2  Mar-2010   322013
3  Apr-2010   -69417
4  May-2010   310503

In [47]:
budget_data.describe()

            revenue
count  8.600000e+01
mean   4.463090e+05
std    5.363579e+05
min   -1.196225e+06
25%    1.821620e+05
50%    5.703280e+05
75%    7.952262e+05
max    1.170593e+06

In [109]:
for row in budget_data:
    total_months += 1

In [120]:
#set variables
total_months = 0
month_list = 0
profits= 0
average_change = 0
greatest_increase = ["", 0]
greatest_decrease = ["", 99999]
revenue_list = 0
month_of_change = []

In [121]:
# The total number of months included in the dataset.
total_months = df['Date'].count()
total_months

86

In [122]:
# The net total amount of Profit/Losses over the entire period.
profits = df['Profit/Losses'].sum()
profits

38382578

In [123]:
# The average of the changes in Profit/Losses over the entire period.
average_change = (df["Profit/Losses"].max() - df["Profit/Losses"].min())/total_months
average_change

27521.13953488372

In [126]:
# The greatest increase in profits (date and amount) over the entire period.
if average_change>greatest_increase[1]:
            greatest_increase[1]= average_change
            greatest_increase[0] = row["Date"]
greatest_increase

['', 27521.13953488372]

In [131]:
# The greatest decrease in losses (date and amount) over the entire period.
if average_change<greatest_decrease[1]:
        greatest_decrease[1]= average_change
        greatest_decrease[0] = row["Date"]
greatest_decrease

['', 27521.13953488372]

In [10]:
# Show Output
print()
print()
print()
print("Financial Analysis")
print("-------------------------")
print("Total Months: " + str(total_months))
print("Total Profit: " + str(profits))
print("Average Change: " + str(average_change))
print("Greatest Increase: " + str(greatest_increase))  
print("Greatest Decrease: " + str(greatest_decrease))

Financial Analysis
-------------------------

NameError: name 'total_months' is not defined

In [11]:
with open(budget_data_path, 'w') as file:
    file.write("Financial Analysis\n")
    file.write("---------------------\n")
    file.write("Total Months: %d\n" % total_months)
    file.write("Total Revenue: $%d\n" % profits)
    file.write("Average Revenue Change $%d\n" % average_change)
    file.write("Greatest Increase in Revenue: %s ($%s)\n" % (greatest_increase[0], greatest_increase[1]))
    file.write("Greatest Decrease in Revenue: %s ($%s)\n" % (greatest_decrease[0], greatest_decrease[1]))

NameError: name 'total_months' is not defined

In [143]:
output_file = Path("python_homework", "Financial_Analysis.txt")